[Unit]
Description=Folder video transcoding service.

[Service]
Type=simple
ExecStart=/usr/bin/node <Path to repository>/main.js

[Install]
WantedBy=multi-user.target
