[Unit]
Description=Folder video transcoding service.

[Service]
Type=simple
ExecStart=/usr/bin/env node transcodewatcher

[Install]
WantedBy=multi-user.target
